*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    --genYel: #c89f6f;
    --head-background:#012257;
    background:url(images/Background_Logo.svg) repeat #022b6d;
  height:100vh;
    --border-background:#e3e3e3;
    --btn-color: #f2b05c;
    width:100%;
    height:100%;
    overflow-x: hidden;
}
.head-back{
    /* position: relative; */
    width: 100vw;
    height: 75vh;
    background: url("images/Israel.jpg");
    background-repeat:no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size:55%;
    /* background-size: cover; */

}
header{
    /* overflow: hidden; */
    background: -webkit-linear-gradient(#000513,#000616,#020b1a) ;
    overflow:hidden;
}
.logo-icon{
    background:var(--head-background);
   width: 20vw;

   height: 5rem;
    padding-left: 1.5rem;
    padding-top:0.5rem;
    padding-right: 0.9rem;
    padding-bottom: 0.2em;
    border-radius: 5em;
    position: relative;
    margin-left: -1.5rem;
    

}
.logo1{
    width:2.7rem;
    float: right;
}
.main-nav{
    float:right;
margin-left:65vw;
margin-top:-9vh;
margin-right:-4vw;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.3rem;

}

.main-nav ul{
    
    background:var(--head-background);
    padding-left: 1.9rem;
    padding-right: 0.45rem;
    padding-top:1.95rem;
    height:5rem;
    border-radius: 5em;
    margin-left: 2rem;
    text-align: left;
    width:33vw;
    

} 
ul{
    list-style: none;
    float: left;

   
}

li{
    display:inline;
    padding-right:1.1rem;
}
a{

    text-decoration:none;
    color:var(--genYel);
}
a:hover{
    color:#161336;
    font-size:0.7rem; 
}
header a:hover{
    color: white;
    font-size: 1.3rem;
}
.head-box{
    background-image: linear-gradient(to right, rgba(255,0,0,0), #000c1c);
    height:69vh;
    position: relative;
   float: right;
padding-bottom: 10vh;
   margin-right: -0.65rem;
   padding-top: 21.4vh;
   width: 32vw;
  
   color:white;


}
.head-box h2{
    padding-left:2px;
    font-size: 4rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}
.head-box p{
    font-size:3rem;

    font-weight: 20rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left:o.2rem;
    padding-top:0.8rem;
    line-height: 3.8rem;
   
}
#head-button{
    color:white;
    padding: 0.7rem 1.7rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    border: none;
    border-radius :40px;
    background: -webkit-linear-gradient( var(--btn-color), #f2af60, #805b2f);
    margin:20px;
    box-shadow: 4px 3px 5px hsl(30deg 28% 35%);
}
#head-button:hover{
    padding: 0.6rem 1.6rem;
    box-shadow: 2px 1px 2px rgb(207, 118, 29);
    background-color: -webkit-linear-gradient( var(--btn-color), #5c3f1e, #e0800a);
}
.brand{
    display: inline-block;
    width:10vw;
    box-sizing:border-box;
    margin-right: 6vw;
    font-size: 1.2rem;  
    padding-top: 0.5rem;

   
}
@keyframes move {
    0%{
        left:10vw;
    }
    25%{
        left: 20vw;
    }
    50%{
        left:30vw;
    }
    75%{
        left: 40vw;
    }
    100%{
        left: default;
    }

    
}

.brand img{
width:5rem; 
padding-top: 1.3rem;
margin-right: -0.2rem;
border-radius: 0.7rem;
}
.nav-sec h1{
    position: absolute;
    color:#f1ae5d;
    top: 7vh;
    left: 17vw;
    font-style: italic;
    font-size: 1.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-sec{
    position: relative;
margin-top: 1.5vh;
 background: #012257 ;
 padding-left:40em;
 border-top:11px solid #012a6c;
 
}
.nav-sec > div{
    margin: 1rem;
    border-left:1.5px solid  #3d567e;
    padding-left: 0.7rem;
    height: 19vh;
    margin-top:9px;
    margin-bottom: 0.2rem;
}
.brand .inner{
    color:#0343a9;
}
.section-head{
    border-color:6em solid var(--border-background);
    color:#f1ae5d;
    text-align:center;
    font-size:3.5rem;
    margin-top: 7.5vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inner{
    float: right;
    margin-top: 2.1rem;

    margin-right: -2%;
}
.sec1{
    width:74vw;
    height:69vh;
    position:relative;
    border-radius:40px;
    margin-left:13vw;
    margin-top:5vh;
    padding-top:7vh;
background-color: var(--border-background);
}
.float-images{
    position: relative;
}
.inner-text{
    position:static;
   background-color:white;
   height:calc(65vh - 10vh);
   width: calc(70vw - 10vh);
   border-radius:1.8rem;
   margin-left:6%;
   padding: 2.1rem;
   padding-top:1.6rem;
   box-align:center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-style: italic;
   font-size: medium;

  
}
.inner-text p{
    font-size: 1.5rem;
    text-align:center;
  font:italic;
  margin: 0.6rem;
  
 
}
.float-images{
    position: relative;

}
.nav-sec .brand:hover{
    background-color: #012a6c;

}
{


}
.float-images div{

    border-radius: 5rem;
    border: 1px solid #f1ae5d;
    width:9rem;
    height:9rem;
    position:absolute;
    z-index:99;
}
.float-images .gen{
    background-repeat:  no-repeat;
}
.img-1{
    margin: top 43vh;
    margin-left:11vw;
    background-image: url(images/pst-yemi.jpg);
    background-position: 4.2rem 8.5rem;
    background-size: cover;
    background-position: center top;
   
}
.img-2{
   margin-top:65vh;
   margin-left: 80vw;
   background-image: url(images/peen-and-alain.jpg);
   background-position: center top;
   background-size: cover;

   
}
.img-3{
    margin-top:-3vh;
    margin-left: 70vw;
    background-image: url(images/penn1.jpg);
    background-position: 65% top;
    background-size: 200%;
   
 }
 .img-4{
    margin-top:66vh;
    margin-left: 18vw;
    background-image: url(images/alain.jpg);
    background-position: center top;
    background-size: cover;
 }
 .box  .image{
    width:18.7vw;
    height:30vh;
    border-radius: 1.1rem;
    margin:0.1rem;
    margin-left:0.13rem;
    background: url(images/peen-and-alain.jpg);
    background-position: center;
    background-size: cover;
    transition: 2s;
 }
 .box :hover{
cursor:default;
background-size:140%;

 }

 .sec2{
  margin-top:2rem;
  margin-left: 11rem;
  height: 110vh;
  width:80vw;
  align-content: center;
  
 }
.sec2 .box{
  
    width:19vw;
display: inline-block;
background: #e3e3e3;
border-radius:1.5rem;
margin: 0.4rem;
  

}
.sec2 .lower{
    width:16vw;
    min-height: 12em ;
    border-radius: 1.5rem;
    background-color: white;
    padding:1rem;
    margin:-4vh 26px 3vh;
    position:relative;
    z-index:1;
    font-size:1.4rem;
 
}
.sec2 .image{
    z-index:0;
    position: relative;
}
.btn-box{
    background-color: var(--btn-color);
    background: -webkit-linear-gradient( var(--btn-color), #f2af60, #805b2f);
    float:right;
     border: none;
    width:30%;
    padding-top:0.4rem;
    padding-bottom: 0.5rem;
    border-radius: 0.8rem;
    margin: 0.2rem;
    color: white;
    position: relative;

}
.btn-box:hover{
    background-color: rgb(66, 32, 218);
    font-size: 0.7rem;
    width: 28%;
    cursor: pointer;

    padding:0.5rem ;
}
.lower h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.test-sec{
    width: 20vw;
    overflow-y:hidden ;
    height: 30vh;
    display: inline;
    margin-left: 3.5em;
   
}
.btn-floating{
    /* position: absolute; */
    margin: 0.8rem  0.6rem;
    margin-left: 1.2rem;
    font-size: 4.3rem;
}
.testimonials{
    background-color: #e3e3e3;
    width: 26vw;
    height: 30vh;;
    padding: 0.7rem;
    padding-left: 0.6vw;
    margin-left: 1vw;
    margin-top: 3vh;
    /* display: inline-block; */
    border-radius: 0.9rem;
    margin-bottom: 3rem;
    
}
.product{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.product-card:hover{
    width:26.1vw;
    background-color: #012257;
    padding-left: 0.7vw;
    border:0.4px solid white;
}

footer{
    display: -webkit-flex;
    display: flex;
    width: 100vw;
    height: 29vh;
    background-color: #012257;
    color:white;
    padding: 0.6rem;
    padding-top:2.6rem;
    margin-bottom:-0.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    margin-bottom: -50em;
    padding-bottom:4em;
}
footer div{
width:18vw;
font-size:1.2rem;
justify-content:first baseline;
margin-bottom:-2.1rem;

}
footer a{
    color: white;
}
footer li{
    display:block;
    padding-top:0.4rem;
}
footer .foot{
    margin-right: -1.1rem;
}
footer .attach-footer{
position: absolute;
    margin-top:11.5em;
    font-style: italic;

    
}
/* /* footer form{
    display: inline;
} */
footer form{
    margin:10px;
}
footer form input{
padding:5px;
width: 10.2vw;
height: 4vh;
background: rgba(255,0,0,0);
border: 1.4px solid white;
border-radius:0.4rem;
color: white;
font-size: 1.3rem;

} 
footer button{
    border-radius:6px;
    width: 6vw;
    height: 4vh;
    padding:5px;
    background-color: white;
font-size: 1.2rem;
}
footer button:hover{
    color: white;
    background-color: rgb(190, 190, 214);
    width: 7rem;
    font-size: 1rem;
    height: 2.5rem;
    position: absolute;
    margin-left: 0.2rem;
}
