*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.logo{
width: 100vw;
height: 15vh;
position: relative;
padding: 2rem;
margin-bottom: 7em;
background-color: bisque;
}

.fa{
   padding-left: 20em;
}
